<!DOCTYPE html>
<html>
<head>
    <title>Item Details</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
    <script>
        function test() {
            site_id = {{id}};
            temp = document.getElementById("test").value;
            document.getElementById("test").value = site_id;
            setTimeout(() => { document.getElementById("test").value = temp;}, 3000);
}
    </script>
</head>
<body>
    <div id="id_txt">
        <h1>Item ID: {{ id }}</h1>
    </div>

    <from method="post">
        <input type="button" onclick="test()" class="button_text" id="test" value="Plus One"/>
    </from>


</body>
</html>
